<mat-toolbar color="primary">
  <img src="assets/acnh.png" />
  <span>Critterpedia</span>
  <span class="fill-space-between"></span>
  <mat-form-field>
    <mat-label>Current Month</mat-label>
    <mat-select [(value)]="this.currentMonth">
      <mat-option *ngFor="let m of this.months" [value]="m.Value">
        {{ m.Text }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-button-toggle-group color="primary" [(value)]="this.currentHemisphere">
    <mat-button-toggle *ngFor="let h of this.hemispheres" [value]="h.value">
      {{ h.viewValue }}
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>
