/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

table {
  min-width: 100%;
  min-height: 100%;

  .leaving-soon-icon {
    font-size: 1em;
    cursor: default;
    color: lightcoral;
    height: 0;
  }
}

.search-table-form {
  min-width: 99%;
  margin: 0.2em 0.5%;
}

.error {
  margin-top: 1em;
  text-align: center;
  color: darkgray;
}
